---
layout: default
title: Contact
---

%h1 Get In Touch
#contact
  .content
    %h2
      Corporate
      %br
      Offices
    .copy
      .label Address
      .text
        Euro-Tech Corporation
        %br
        N48 W 14170 Hampton Ave
        %br
        Menomonee Falls, WI 53051

      .label Phone
      .text 262.781.6777

      .label Fax
      .text 262.781.2822

      .label Email
      .text pg1000@eurotechcorp.com

      %br
      .label.heading Our Staff
      .label Accounting
      .text Greg See

      .label Shipping and Receiving
      .text Greg See

      .label Literature Requests
      .text Greg See

      .label Website/Ads/Trade Shows
      .text Greg See

      .label Design and Development
      .text Michael



  .content
    %h2 Domestic Representatives
    .copy
      .label.heading Michigan Office
      .label Contact
      .text Greg See

      .label Address
      .text
        3951 Brighton Lane
        %br
        Canton, MI 48188

      .label Phone
      .text 248.894.7774

      .label Fax
      .text 734.340.9832

      .label Email
      .text pg1000@eurotechcorp.com

  .content
    %h2 International Representatives
    .copy
      .label.heading Germany
      .label Address
      .text
        MESAS
        %br
        Hinten auf der Gass 3
        %br
        66646 Marpingen

      .label Fax
      .text (+49) 6853 30858

      .label Email
      .text pg1000@eurotechcorp.com
