---
layout: default
title: News
---

%h1 What's New?

#news
  .news.left
    %h2
      .title 
        Product Development   
      .clear
    .body
      .container
        .description
          Tempus eleifend, varius nulla molestie ut elit dictum sollicitudin, sapien maecenas duis iaculis vestibulum eleifend. Lacus consectetuer in consectetuer, montes eu quis, nemo id quam aenean in, mauris viverra hendrerit sed etiam. Massa arcu adipiscing proin mollis dui, ornare sodales aliquam sed ut, nulla quis parturient ultricies volutpat at risus, eget ipsum habitasse sed ante enim, nulla sollicitudin mauris pellentesque lorem est. Nec amet libero morbi libero sociis ut, eleifend wisi pellentesque, erat morbi id sapien, hendrerit vestibulum mauris sed in auctor lacinia, diam viverra. Turpis nonummy et inceptos ipsum, exercitationem nec consectetuer. In lorem venenatis nulla et eu eu, quia consectetuer porttitor mauris et est. Suspendisse risus mauris aliquet curabitur, quis integer, et leo neque sem massa pede, fermentum luctus. Blandit dignissim conubia eleifend, pede felis, neque est.

      .clear

  .news
    %h2
      .title
        Visit Us at Quality Expo 2011
      .clear
    .body
      .container
        %img{:src => "images/products/pg1000_basic.jpg", :width => "210"}
        .description
          Vivamus quis porttitor, quisque elit integer, at non, in amet. Vehicula orci tempor tellus est qui, vel auctor vivamus augue risus, penatibus enim ultrices wisi vestibulum. Gravida nec inceptos a suscipit nec, non eros magna enim dui ultricies. Ligula mus sollicitudin tenetur suscipit enim, pretium lacus suspendisse pretium sociosqu quis, est vestibulum aliquam et maecenas aliquam. Fusce orci nisl nullam ut, fusce luctus sollicitudin ut quam at dolor.
      .clear

.clear
