---
layout: default
title: Home
---

%h1 Downloads
#register
  %h2 Register
  %form
    .input_pair
      %label{:for => "name"} Name
      %input{:type => "text", :name => "name"}
    .input_pair
      %label{:for => "company"} Company
      %input{:type => "text", :name => "company"}
    .input_pair
      %label{:for => "address1"} Address1
      %input{:type => "text", :name => "address1"}
    .input_pair
      %label{:for => "address2"} Address2
      %input{:type => "text", :name => "address2"}
    .input_pair
      %label{:for => "city"} City
      %input{:type => "text", :name => "city"}
    .input_pair
      %label{:for => "state"} State
      %input{:type => "text", :name => "state"}
    .input_pair
      %label{:for => "zip"} Zip Code
      %input{:type => "text", :name => "zip"}
    .input_pair
      %label{:for => "country"} Country
      %input{:type => "text", :name => "country"}
    .input_pair
      %label{:for => "phone"} Phone
      %input{:type => "text", :name => "phone"}
    .input_pair
      %label{:for => "fax"} Fax
      %input{:type => "text", :name => "fax"}
    .input_pair
      %label{:for => "email"} Email
      %input{:type => "text", :name => "email"}
    .input_pair
      %label{:for => "username"} Username
      %input{:type => "text", :name => "username"}
    .input_pair
      %label{:for => "password"} Password
      %input{:type => "password", :name => "password"}
    .input_pair
      %label{:for => "confirm_password"} Confirm Password
      %input{:type => "password", :name => "confirm_password"}
    .input_pair
      %input{:type => "submit"} Submit Info

#login
  %h2 Login
  %form
    .input_pair
      %label{:for => "username"} Username
      %input{:type => "text", :name => "username"}
    .input_pair
      %label{:for => "password"} Password
      %input{:type => "password", :name => "password"}
    .input_pair
      %input{:type => "submit"} Submit Info
    .input_pair
      %a{:href => "forgot_password.html"} Forgot Your Password?
