---
layout: default
title: Products
---

%h1 The PG 1000 Line

#products
  .product.left
    %h2
      .title
        PG 102
        .model Model# PG 102
      %a.view{:href => "some_link.html"} 360&deg View
      %a{:href => "spec_sheet.html"} Spec Sheet
      .clear
    .body
      .container
        %img{:src => "/images/products/PG1000_CTM.jpg", :width => "210"}
        .description
          The PG 102 is the perfect simple solution for the inspection of drill cutting edge heights. Small and ideal for use right at the point grinder location. Drill sizes range from .078" to 1.562". The complete gage includes five (5) standard v-blocks; standard .0005" (10 Micron) dial indicators are supplied. Optional Accessory Kit 102-1 includes indicating post with fine adjustment, 0005" (10 Micron) dial indicator and radial stop for the inspection of drill index tolerance and web concentricity.
      .clear

  .product
    %h2
      .title
        PG 1000-200-E
        .model Model# PG 1000-200-E
      %a.view{:href => "some_link.html"} 360&deg View
      %a{:href => "spec_sheet.html"} Spec Sheet
      .clear
    .body
      .container
        %img{:src => "/images/products/pg1000_basic.jpg", :width => "210"}
        .description
          The PG 1000-200-E uses a monocular microscope for the optical inspection of cutting tool geometrys. Rake angles, clearance angles, diameters and lengths are easily seen and measured without inverted images. The complete gage includes standard base features, microscope and digital readout and linear scales on both "X" and "Y" axis and halogen light. View complete specifications or download a brochure from the literature page of this web site. 
      .clear

.clear
