<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Euro Tech, PG 1000" />
    <meta name="description" content="PG 1000 Cutting Tool Inspection System by Euro Tech" />
    <meta name="author" content="PG 1000" />
    <meta name="copyright" content="Copyright © 2012" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta name="rating" content="general" />
    <meta name="expires" content="never" />
    <meta name="distribution" content="global" /><meta name="robots" content="index,follow" /><meta name="revisit-after" content="15 days" />
    
    <title>PG 1000 Cutting Tool Inspection System by Euro-Tech | {{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="css/primary.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Cabin|Ubuntu|Cantarell|Open+Sans|Nobile|Telex' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <div id="logo">
          <div id="pg1000">
            <img src="images/pg1000_shadow.png" width="430"/>
          </div>
          <div id="eurotech">
            <div id="product_by">a product by</div>
            <img src="images/euro_tech_logo.png" width="200"/>
          </div>
        </div>
        <div id="banner">
        </div>
      </div>
      <div class="clear"></div>


      <div id="navigation">
        {% for link in site.navigation %}
          <a href="{{ link.url }}" {% if page.title == link.title %}class="active" {% endif %}>
            <div class="link-title">{{ link.title }}</div>
            <div class="link-summary">{{ link.summary }}</div>
          </a>
        {% endfor %}

        <div class="clear"></div>
      </div>

      <div id="content">
        {{ content }}
      </div>

      <div id="footer">
        <div class="footer-links">
          <h4>Links</h4>
          <a href="terms.html">Terms and Conditions</a>
          <a href="rental_agreement.html">Reticle Rental Agreement</a>
          <a href="users_list.html">PG 1000 Users List</a>
        </div>

        <div class="footer-links">
          <h4>Pages</h4>
          <a href="/" class="active">Home</a>
          <a href="products.html">Products</a>
          <a href="literature.html">Literature</a>
          <a href="products.html">Products</a>
          <a href="news.html">News</a>
          <a href="downloads.html">Downloads</a>
          <a href="contact.html">Contact</a>
        </div>

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
	  </div>
  </body>
</html>
