 <!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Euro Tech, PG 1000" />
    <meta name="description" content="PG 1000 Cutting Tool Inspection System by Euro Tech" />
    <meta name="author" content="PG 1000" />
    <meta name="copyright" content="Copyright © 2012" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta name="rating" content="general" />
    <meta name="expires" content="never" />
    <meta name="distribution" content="global" /><meta name="robots" content="index,follow" /><meta name="revisit-after" content="15 days" />
    
    <title>PG 1000 Cutting Tool Inspection System by Euro-Tech | {{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="css/primary.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Cabin|Ubuntu|Cantarell|Open+Sans|Nobile|Telex' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <img id="pg1000_logo" src="images/pg1000_logo_small.png" />
        <img id="eurotech_logo" src="images/euro_tech_logo160.png" height="160" />
        <div class="clear"></div>
      </div>
      <div class="clear"></div>

      <div id="navigation">
        {% for link in site.navigation %}
          <a href="{{ link.url }}" {% if page.title == link.title %}class="active {{ link.class }}" {% else %} class="{{ link.class }}" {% endif %}>
            <div class="link-title">{{ link.title }}</div>
            <div class="link-summary">{{ link.summary }}</div>
          </a>
        {% endfor %}

        <div class="clear"></div>
      </div>

      <div id="content">
        {{ content }}
      </div>

      <div id="footer">
        <div class="footer-links pages">
          {% for link in site.navigation %}
            <a href="{{ link.url }}" {% if page.title == link.title %}class="active" {% endif %}>
              {{ link.title }}
            </a>
          {% endfor %}
        </div>

        <div class="footer-links links">
          <a href="terms.html">Terms and Conditions</a>
          <a href="rental_agreement.html">Reticle Rental Agreement</a>
        </div>

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
	  </div>
  </body>
</html>
